html 
    head
        title Login
    body
        h3 Inicia Sesi칩n
        form(action="/sessions", method="POST")        
            label(for="email") Correo electr칩nico:
            br
            input(type="text" name="email")
            br
            br
            label(for='password') Contrase침a:        
            br
            input(type="password" name="password")
            br
            br
            input(type="submit", value="Iniciar Sesi칩n")
        