html
    head
        title Alta Organizador
    body
        form(action="/owners" enctype="multipart/form-data" method="post") 
            label Organizador
            br
            input(type="text", name="nombre" placeholder="Nombre del organizador")
            br
            br
            label Página web
            br
            input(type="url", name="website" placeholder="www.organizador.com")
            br
            br
            label Avatar
            br
            input(type="file", name="avatar")
            br
            br
            input(type="submit", value="Guardar")