html
    head
        title  Buscar Organizador
    body
        form(action="/owners/show",method="post")
            label(for="nombre") Nombre Organizador
            br
            input(type="text" name="nombre")
            br
            input(type="submit",value="Buscar")
        